<ion-header style="border-bottom: none" class="custom-header">
    <ion-navbar #dayRcmdMusicNav>
        <ion-title>
            每日推荐
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="ios-stats-outline" style="font-size: 35px;color: #ffffff;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="dayRcmdMusicList.length">
        <ion-list>
            <ion-item *ngFor="let music of dayRcmdMusicList;let $index = index">
                <ion-label (click)="playMusic($index)">
                    <span style="color: #402424">{{music.name}}</span>
                    <p>{{music.artists[0].name + ' - ' + music.album.name}}</p>
                </ion-label>
                <i class="iconfont icon-more" style="font-size: 20px;color: #cccccc;" item-end></i>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>