<ion-header style="border-bottom: none" class="play-music-header">
    <ion-navbar #playMusicNav>
        <ion-title>
            <div class="marquee">
                <span [ngClass]="{'marquee-text':musicData.name && musicData.name.length > 5}">{{musicData.name}}</span>
                <span style="display: block;font-size: 12px;color: #ddd;">{{musicData.al ? musicData.al.name : musicData.artists[0].name}}</span>
            </div>

        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="openModal()">
                <i class="iconfont icon-share" style="font-size: 25px;color: #ffffff;"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content no-bounce class="play-music-content" style="position: relative">
    <div class="bg-shadow-modal"></div>
    <img [src]="musicData.al ? musicData.al.picUrl : musicData.album.picUrl" class="bg-img"/>
    <div class="play-music-container">
        <div class="play-needle" [ngClass]="{'begin-play':playingMusic}">
            <img src="/assets/imgs/play_needle.png" />
        </div>
        <div class="play-music-main">
            <div class="outside" [ngClass]="{'rotate-cd':playingMusic,'paused-music':!playingMusic}">
                <img src="/assets/imgs/play_disc.png" />
                <div class="inside">
                    <img [src]="musicData.al ? musicData.al.picUrl : musicData.album.picUrl" />
                </div>
            </div>
        </div>
        <div class="play-handle">
            <audio-player (changePlayStatus)="changePlayStatus($event)"
                          [mediaUrl]="musicUrl"
                          (switchMusic)="switchMusic($event)"
                          style="width: 100%">
            </audio-player>
        </div>
    </div>
</ion-content>