.play-music-container{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    top: 0px;
    border-top: 1px solid #969696;
    left: 0;
    position: absolute
}
.play-music-container .play-needle{
    width:124px;
    height:187px;
    position: absolute;
    top: -25px;
    left: calc(50% - 20px);
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    z-index: 9;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    transform: rotate(-20deg);
    transition: all .3s ease;
}

.play-music-container .begin-play{
    transform: rotate(3deg);
}

.play-music-container .play-needle img{
    width:100%;
    height:100%;
}
.play-music-main{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 260px;
    height: 260px;
    max-width: 356px;
    max-height: 356px;
    box-sizing: border-box;
    padding: 0px;
    background: #dddddd;
    border-radius: 100%;
}
.play-music-main .outside{
    position:relative;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100%;
    -webkit-animation:7s rotate-block infinite linear forwards;
    animation:7s rotate-block infinite linear forwards;
    -webkit-animation-play-state:paused !important;
    animation-play-state:paused !important;
}

.play-music-main .rotate-cd{
    -webkit-animation-play-state:running !important;
    animation-play-state:running !important;
}

.paused-music{
    -webkit-animation: none !important;
}

.play-music-main .outside img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}
.play-music-main .inside{
    position: absolute;
    top:0;
    left: 0;
    padding: 41px;
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border-radius: 100%;
    background-size: 100% 100%;
}
.play-music-main .inside img{
    width:100%;
    height:100%;
    border-radius: 100%;
}
.play-music-container .play-handle{
    width:100%;
    padding: 15px;
    display: flex;
    justify-content: center;

}

@keyframes rotate-block{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media screen and (width: 375px){
    .play-music-main{
        width:300px;
        height:300px;
    }
    .play-music-main .inside{
        padding: 47px;
    }
}
@media screen and (max-width: 320px){
    .play-music-main{
        width:260px;
        height:260px;
    }
}
@media screen and (min-width: 414px){
    .play-music-main{
        width:350px;
        height:350px;
    }
    .play-music-main .inside{
        padding: 55px;
    }
}

.play-music-header .toolbar-background{
    background: #000000 !important;
    opacity: 0.4;
}

.play-music-header .show-back-button {
    color: #ffffff !important;
}

.play-music-header .toolbar-title {
    color: #ffffff !important;
}

.play-music-content .bg-img{
    width: 100%;
    height: 100%;
    filter: blur(50px)
}