<div class="comment-container" *ngIf="commentData">
    <div class="comment-body">
        <div class="hot-comment" *ngIf="commentData.hotComments && commentData.hotComments.length">
            <div class="header">
                <span>精彩评论</span>
            </div>
            <div class="comment-block" *ngFor="let comment of commentData.hotComments">
                <div class="avatar" style="width: 30px;height: 30px">
                    <img [src]="comment.user.avatarUrl" />
                </div>
                <div class="comment-content">
                    <div class="comment-des">
                        <div class="c-left">
                            <h6 class="comment-people">
                                {{comment.user.nickname}}
                            </h6>
                            <p class="comment-date"></p>
                        </div>
                        <div class="c-right">
                            <span class="like-count">{{comment.likedCount ? comment.likedCount : ''}}</span>
                            <ion-icon name="ios-thumbs-up-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="comment-text">
                        <span>{{comment.content}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-comment" *ngIf="commentData.comments && commentData.comments.length">
            <div class="header">
                <span>最新评论({{commentData.comments.length}})</span>
            </div>
            <div class="comment-block" *ngFor="let comment of commentData.comments">
                <div class="avatar" style="width: 30px;height: 30px">
                    <img [src]="comment.user.avatarUrl" />
                </div>
                <div class="comment-content">
                    <div class="comment-des">
                        <div class="c-left">
                            <h6 class="comment-people">
                                {{comment.user.nickname}}
                            </h6>
                            <p class="comment-date"></p>
                        </div>
                        <div class="c-right">
                            <span class="like-count">{{comment.likedCount ? comment.likedCount : ''}}</span>
                            <ion-icon name="ios-thumbs-up-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="comment-text">
                        <span>{{comment.content}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="comment-footer">
        <input placeholder="发表评论" />
    </div>-->
</div>