ion-header {

    &.custom-view::after {
        background-image: none;
    }

}

.custom-view {
    .scroll-content {
        margin-top: 86px !important;
        padding: 0px !important;
    }

    .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
    }

}

.intro-list{
    width:100%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.intro-list .intro-item{
    text-align: center;
    align-items: center;
    flex:1;
    display: flex;
    flex-direction: column;
}

.intro-list .intro-item .intro-text{
    display: block;
    color: #733D30;
}

.intro-list .intro-item .intro-icon{
    width:40px;
    height: 40px;
    border:1px solid red;
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    ion-icon{
        color:#733D30
    }
}

.intro-list .intro-item .intro-icon ion-icon{
    font-size: 28px;
}

.music-list-content .play-count{
    color: #ffffff;
    position: absolute;
    top:2px;
    right: 3px;
}