<ion-header class="custom-header">
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only>
                <ion-icon name="ios-microphone-outline" style="font-size: 30px;color: #ffffff;"></ion-icon>
            </button>
        </ion-buttons>
        <div center
             style="background: #ffffff;text-align: center;flex:1;border-radius: 15px;color:#969696;margin: 0 15px;padding: 6px 0"
             (click)="searchMusic()">
            <ion-icon name="search" style="font-size: 18px"></ion-icon>
            <span>搜索音乐, 视频, 电台</span>
        </div>
        <ion-buttons right>
            <button ion-button icon-only color="royal">
                <ion-icon style="font-size: 35px;color: #ffffff;" name="list"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="custom-view">
    <div class="banner" style="width:100%;">
        <ion-slides #slideBanners loop="true" pager="true" autoplay="2000" *ngIf="banners.length">
            <ion-slide style="width:100%;height:100%" *ngFor="let banner of banners">
                <img [src]="banner.pic" style="width: 100%;height: 100%"/>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="intro-list">
        <div class="intro-item" tappable (click)="personalFm()">
            <div class="intro-icon">
                <ion-icon name="md-radio"></ion-icon>
            </div>
            <span class="intro-text">私人FM</span>
        </div>
        <div class="intro-item" tappable (click)="dayRecommendMusic()">
            <div class="intro-icon">
                <ion-icon name="md-calendar"></ion-icon>
            </div>
            <span class="intro-text">每日推荐</span>
        </div>
        <div class="intro-item" tappable (click)="checkMoreMusicList()">
            <div class="intro-icon">
                <ion-icon name="ios-musical-notes-outline"></ion-icon>
            </div>
            <span class="intro-text">歌单</span>
        </div>
        <div class="intro-item" tappable (click)="rankingList()">
            <div class="intro-icon">
                <ion-icon name="list"></ion-icon>
            </div>
            <span class="intro-text">排行榜</span>
        </div>
    </div>
    <div class="intro-music-list">
        <header class="block-header" tappable (click)="checkMoreMusicList()">
            <span class="l-red"></span>
            <span class="block-title">推荐歌单</span>
            <span class="left-direct"></span>
        </header>
        <section class="music-list-content">
            <div *ngFor="let list of introMusicList;let $index=index" class="square-list-item" (click)="musicListDetail(list)" [ngClass]="{'noMarginRight': ($index+1) % 2 == 0}" style="width: calc((100% - 4px) / 2);">
                <img [src]="list.picUrl" style="width: 100%;height: 100%;"/>
                <span class="square-list-item-des">{{list.name}}</span>
                <div class="play-count">
                    <ion-icon name="ios-headset-outline"></ion-icon>
                    <span>{{list.playcount | splitThousand}}</span>
                </div>
            </div>
        </section>
    </div>
    <div class="intro-music-list">
        <header class="block-header" tappable (click)="checkMoreSinglePlay()">
            <span class="l-red"></span>
            <span class="block-title">独家放送</span>
            <span class="left-direct"></span>
        </header>
        <section class="music-list-content">
            <div class="square-list-item" *ngFor="let list of singlePlayList;let $index=index" [ngClass]="{'noMarginRight': ($index+1) % 2 == 0}" style="width: calc((100% - 4px) / 2);">
                <ng-container *ngIf="$index < 2">
                    <img [src]="list.sPicUrl" style="width: 100%;height: 100%;"/>
                    <span class="square-list-item-des">{{list.name}}</span>
                </ng-container>
            </div>
            <div *ngFor="let list of singlePlayList;let $index=index">
                <ng-container *ngIf="$index == 2">
                    <img [src]="list.picUrl" style="width: 100%;"/>
                    <span class="square-list-item-des">{{list.name}}</span>
                </ng-container>
            </div>
        </section>
    </div>
    <div class="intro-music-list">
        <header class="block-header" tappable>
            <span class="l-red"></span>
            <span class="block-title">推荐MV</span>
            <span class="left-direct"></span>
        </header>
        <section class="music-list-content">
            <div *ngFor="let list of recommendMV;let $index=index" tappable class="square-list-item" (click)="playMv(list.id)" [ngClass]="{'noMarginRight': ($index+1) % 2 == 0}" style="width: calc((100% - 4px) / 2);">
                <img [src]="list.picUrl" style="width: 100%;height: 100%;"/>
                <span class="square-list-item-des">{{list.name}}</span>
                <div class="play-count">
                    <ion-icon name="ios-videocam-outline"></ion-icon>
                    <span>{{list.playCount | splitThousand}}</span>
                </div>
            </div>
        </section>
    </div>
</ion-content>