<ion-content class="video-content custom-view">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="放手刷新" refreshingText="请求中"></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="videosData.length">
        <div *ngFor="let video of videosData;" class="video-block" (click)="playMv(video.id)">
            <div class="video-cover">
                <img [src]="video.cover" />
                <div class="play-video">
                    <ion-icon name="ios-play-outline"></ion-icon>
                </div>
                <div class="play-count">
                    <ion-icon name="ios-videocam-outline"></ion-icon>
                    <span>{{video.playCount | splitThousand}}</span>
                </div>
            </div>
            <div class="des">
                <span>{{video.briefDesc}}</span>
            </div>
        </div>
    </ng-container>
</ion-content>