<ion-header class="custom-header">
    <ion-toolbar>
        <ion-title>
            <span style="color: #ffffff;">筛选歌单</span>
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="hideModal()">
                <span style="color: #ffffff;" showWhen="ios">取消</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="all-music-list-panel" style="background: #eee">
    <div class="all-music-list-select" (click)="selectMusicList({name:'全部歌单',str:'all'})">
        全部歌单
        <span class="check-icon" *ngIf="currentSelect === 'all'">
            <i class="iconfont icon-pa_checked01"></i>
        </span>
    </div>
    <div class="language-list" *ngFor="let item of musicListType">
        <div class="language-title">
            <ion-icon name="{{item.iconName}}" style="font-size: 28px"></ion-icon>
            <span style="display: block">{{item.title}}</span>
        </div>
        <div class="language-type">
            <div class="up">
                <ng-container *ngFor="let language of item.list;let $index = index">
                    <ng-container *ngIf="$index < 3">
                        <span class="language" (click)="selectMusicList(language)">
                            {{language.name}}
                            <span *ngIf="language.hot">
                                <i class="iconfont icon-hot" style="position: absolute;top: -2px;right: -2px;display: block;font-size: 32px;color: #d81e06;"></i>
                            </span>
                            <span class="check-icon" *ngIf="currentSelect === language.str">
                                <i class="iconfont icon-pa_checked01"></i>
                            </span>
                        </span>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down">
                <ng-container *ngFor="let language of item.list;let $index = index">
                    <ng-container *ngIf="$index >= 3">
                        <span class="language" (click)="selectMusicList(language)">
                            {{language.name}}
                            <span *ngIf="language.hot">
                                <i class="iconfont icon-hot" style="position: absolute;top: -2px;right: -2px;display: block;font-size: 32px;color: #d81e06;"></i>
                            </span>
                            <span class="check-icon" *ngIf="currentSelect === language.str">
                                <i class="iconfont icon-pa_checked01"></i>
                            </span>
                        </span>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</ion-content>