.check-icon{
    position: absolute;
    bottom: 0;
    right: -1px;
    width:32px;
    height: 32px;
    .iconfont{
        font-size: 32px;
        color: #d81e06;
    }
}

.all-music-list-panel{
    .all-music-list-select{
        background: #ffffff;
        border: 1px solid #d43c33;
        padding: 10px 0;
        text-align: center;
        color: #4a2d2d;
        margin: 5px;
        position: relative;
    }

    .language-list{
        background: #ffffff;
        display: flex;
        margin: 10px 0;
        .language{
            color:$grayBlack;
            position: relative;
        }
        .language-title{
            color:$gray;
            padding: 15px;
            flex: 1;
            text-align: center;
            border-right: 1px solid #dddddd;
        }
        .language-type{
            flex: 3;
            display: flex;
            flex-direction: column;
            span.language{
                padding: 10px 12px;
                text-align: center;
            }
            .up{
                flex: 1;
                display: flex;
                .language{
                    flex: 1;
                    border-bottom: 1px solid #dddddd;
                    border-right: 1px solid #dddddd;
                }
                .language:last-child{
                    border-right: none;
                }
            }
            .down{
                flex: 1;
                display: flex;
                .language{
                    flex: 1;
                    border-right: 1px solid #dddddd;
                }
                .language:last-child{
                    border-right: none;
                }
            }
        }
    }
}

