.audio-container{
    width:100%;
}
.audio-container .progress-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.audio-container .progress-line .played-time{
    color: #ffffff;
}
.audio-container .progress-line .total-time{
    color: #ffffff;
    opacity: 0.8;
}
.audio-container .progress-line .play-line-container{
    flex: 1;
    margin: 0 15px 0 15px;
    position: relative;
}
.audio-container .progress-line .play-line-container .play-handle-dot{
    width:20px;
    height:20px;
    border-radius: 20px;
    background: #ffffff;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top:-10px;
    left: -10px;
}
.audio-container .progress-line .play-line-container .play-handle-dot .dot{
    width:5px;
    height: 5px;
    display: inline-block;
    background: #733D30;
    border-radius: 5px;
}
.audio-container .progress-line .play-line-container .played-length-line{
    height: 2px;
    position: absolute;
    width:0px;
    top:0;
    background: #733D30;
}
.audio-container .progress-line .play-line-container .play-line{
    width:100%;
    height: 2px;
    background: #ffffff;
    opacity: 0.3;
}